/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$dark-grean: #07617d;
$light-grean: #f4f4f4;
$orrange:#f9a828;
$light-orrange:#ffe2b5;
$gray:#ececeb;

@font-face {
  font-family: 'Mitr';
  src: font-url("Mitr-Light-webfont.woff");
}
@font-face {
  font-family: 'NotoSansCJKjp-Light';
  src: font-url("NotoSansCJKjp-Light.otf");
}

html,body,p{
  height: 100%;
  margin: 0;
  font-family: Mitr,'Sawarabi Gothic';
}

a,a:hover,a:visited{
  text-decoration: none;
}
a:hover{
  background-color: #fff !important;
}
h3,h4,label{
  color:$dark-grean;
}
li{
  list-style: none;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}

div.alert,div.notice{
  padding:3px 10px;
  margin:3px 5px;
  color: $orrange;
  background-color: $light-orrange;
  border-radius: 4px;
}
.field_with_errors{
  padding: 1px;
  background-color: $orrange;
}

header{
  background-color: $dark-grean;
  position: relative;
  height: 50px;
  color: #fff;
  .logo{
    margin: 8px 10px;
    float: left;
  }
}
// メニューに冊数を表示するための記述
// 要リファクタリング
.books-count{
  margin-top:20px;
  margin-left: 10px;
  tr td{
    height: 20px;
    color: $dark-grean;
  }
}
.last-book{
  margin: 0;
  padding: 0;
}
.first-book{
  margin: 0;
  margin-right: -5px;
  padding: 0;
}

main{
  width: 90%;
  margin:0 auto;
}

footer{
  background-color: $dark-grean;
  color:#fff;
  height: 250px;
  padding:30px;
  bottom: 0;
  .narrow{
    display: none;
  }
}

// ボタン
.btn{
  padding:6px 12px;
  margin: 4px;
  border-radius: 4px;
  width: 150px;
}
.small-btn{
  width: 100px;
}
.thin-btn{
  padding:1px 8px;
  margin:3px;
  height: 20px;
  font-size: 12px;
}
.orrange-btn{
  background-color: $orrange;
  color: #fff;
}
a:hover.orrange-btn  {
  background-color: #fff;
  border:solid 1px $orrange !important;
  color: $orrange !important;
}
.green-btn{
  background-color: $dark-grean;
  color: #fff !important;
}
a:hover.green-btn  {
  background-color: #fff;
  border:solid 1px $dark-grean!important;
  color: $dark-grean !important;
}

.warning-btn{
  background-color: $orrange;
  border:solid 1px $dark-grean;
  color: $dark-grean;
}
a:hover.warning-btn  {
  background-color: $dark-grean !important;
  border:solid 1px $orrange!important;
  color: $orrange !important;
}

// テキストボックス類
input[type="text"],input[type="email"],input[type="password"]
{
  border:solid 1px $dark-grean;
  border-radius: 4px;
}

//////////////////
// LP画面
//////////////////
.top-image{
  background: url(/assets/top_image.jpeg) no-repeat right;
  background-size: auto 400px;
  height: 300px;
  width: 100%;
  text-align:center;
}
.top-logo{
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 90px;
}
.top-menu{
  text-align: center;
  padding:10px;
  background-color: $dark-grean;
}
.top-introduction{
  text-align: center;
  padding: 30px 50px;
  color: $orrange;
}
.intro-subject{
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 120px;
  margin-bottom: 120px;
  display: block;

  //------------------
  // invew
  //------------------
  opacity: 0;
  -moz-transition: -moz-transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  -ms-transition: -ms-transform 0.5s linear;
  transition: transform 0.5s linear;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.inview{
  -webkit-animation-name: imageBlur;
  animation-name: imageBlur;
  opacity: 1;
  transition: .8s;
}
@-webkit-keyframes imageBlur {
  from {
    opacity: 0;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);
  }

  to {
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes imageBlur {
  from {
    opacity: 0;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    -o-filter: blur(15px);
    filter: blur(15px);
  }

  to {
      opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
  }
}

.intro-text{
  text-align: center;
  color: $orrange;
  margin: 40px auto;
  margin-bottom:px;
  h5{
    text-decoration: underline;
  }
  display: block;
}
.intro-image{
  background-color: $orrange;
  border-radius: 15px;
  border: double 4px #fff;
  text-align: center;
  padding-top:20px;
  height: 100%;
}
//////////////////
//kaminari
//////////////////
.pagenation{
  span > a:hover{
    background-color: #fff;
    color: $orrange;
  }
}
//////////////////
// menu
//////////////////
.menu{
  position: fixed;
  top: 0;
  right: -200px; /* メニューのwidth + padding */
  width: 200px; /* メニューのwidth */
  height: 100%;
  padding: 15px;
  padding-top: 50px;
  transition: left .5s, right .5s; /* アニメーション */
  background-color: $gray;
  border-left:solid 2px $orrange;
  z-index: 9999;
}
.toggle {
  font-size: 50px;
  cursor: pointer;
}

.toggle:hover {
  text-decoration: underline;
}

.op{
  margin: 15px 30px;
}
.cl{
  margin-bottom: 15px;
}

#open {
  display: none;
}

/* :checked 擬似クラスを使って、#openがチェック状態になった時に、#menuが「right: 0;」になります。 */
#open:checked + .menu {
  right: 0;
}
.search-books{
  margin: 10px auto;
  p{
    font-size: 12px;
  }
}
.login-info{
  margin: 10px auto;
  p{
    font-size: 12px;
  }
}

.admin-menu{
  height: 50px;
  border-bottom:dashed 3px $orrange;
  width: 100%;
  padding-top: 10px;
}
//////////////////
// 書籍検索タイル表示
//////////////////
#box {
  width: 100%;
  margin: 0 auto;   /*中央寄せ*/
  position: relative;
}
.book {
  margin-bottom:10px;
  background-color: $light-grean;
  border-radius: 5px;
  width: 220px;
}
.book-info{
  margin: 10px;
  height: 300px;
}
.title{
  font-size: 16px;
}
.detail{
  font-size: 11px;
}
.book-image-col{
  width: 80px;
}
.book-info-col{
  margin:10px 0 0 0;
  float: left;
  p{
    color: $dark-grean;
    margin:5px;
  }
}

//------------------------
// スマホ表示レスポンシブ設定
//------------------------
@media screen and (max-width:425px) {
  .alert{
    font-size: 11px;
  }
  footer{
    .nomal{
      display: none;
    }
    .narrow{
      display: block;
    }
    li{
      list-style: disc;
      font-size: 12px;
    }
    p{
      font-size: 12px;
    }
  }
  .top-logo{
    background-color: #fff;
  }
}
