// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orrange:#f9a828;
$dark-grean: #07617d;

.select-book{
  background-color: #fff;
  width: 70%;
  height: auto;
  margin: 50px auto;
  border-radius: 5px;
}
.select-book-action{
  padding-bottom: 30px;
  text-align: center;
}
.modal-header{
  background-color: $orrange;
  color:#fff;
  padding:5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.btn-wide{
  width: 200px;
  border-radius: 5px;
  border:solid 2px $dark-grean;
  color:$dark-grean !important;
  background-color: #fff !important;
}
.desctiption{
  width:100%;
}
.description-tbl{
  width: 80% !important;
  margin: 20px auto;
}
.subject-col{
  width:10%;
}
.contents-col{
  width: 90%;
}
