// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark-grean: #07617d;
$light-grean: #f4f4f4;
$orrange:#f9a828;
$light-orrange:#ffe2b5;
$gray:#ececeb;


.narrow{
  display: none;
}
//------------------
// タイル表示用css
//------------------
.review {
  margin-bottom:10px;
  background-color: $light-grean;
  border-radius: 5px;
  width: 220px;
}
.review-info{
  margin: 10px;
  height: 250px;
}
.title{
  font-size: 16px;
}
.detail{
  font-size: 11px;
}
.review-info-col{
  margin:10px 0 0 0;
  float: left;
  p{
    color: $dark-grean;
    margin:3px;
  }
  h5{
    font-weight: bold;
    color: $dark-grean;
  }
}

//------------------
// 感想詳細など
//------------------
.review-header,
.review-body,
.review-title{
  width: 90%;
  margin:0 auto;
  padding: 10px;
}
.review-header{
  background-color: $dark-grean;
  color: #fff;
  margin-top: 10px;
}
.review-body{
  border: solid 1px $dark-grean;
}
.review-form{
  margin:0 auto;
  width: 100%;
}
.review-form-area{
  height: 300px;
}
.review-title{
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color:$dark-grean;
}
.book-detail-tbl{
  margin:0 auto;
  margin-bottom: 10px;
  width: 85%;
}
.review-buttons{
  margin: 10px auto;
  width: 90%;
  text-align: center;
}
.review-radio-label{
  font-weight: normal;
  margin-right: 10px;
}
.unreaded{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: $gray;
}

//------------------------
// 自分の本棚
//------------------------
.search{
  label{
    font-weight: nomal;
    margin-right: 10px;
    margin-left:3px;
  }
}

@media screen and (max-width:425px) {
  .nomal{
    display: none;
  }
  .narrow{
    display: block;
  }
}
