// Place all the styles related to the WarningReport controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark-grean: #07617d;
$light-grean: #f4f4f4;
$orrange:#f9a828;
$light-orrange:#ffe2b5;
$gray:#ececeb;

th{
  font-weight: normal;
  color:$dark-grean;
}
.review-header,
.review-body,
.review-title,
.warning-header,
.warning-body{
  width: 90%;
  margin:0 auto;
  padding: 10px;
}
.review-header{
  background-color: $dark-grean;
  color: #fff;
  margin-top: 10px;
}
.review-body{
  border: solid 1px $dark-grean;
}
.warning-header{
  background-color: $orrange;
  color: $dark-grean;
  margin-top: 10px;
}
.warning-body{
  border: solid 1px $orrange;
}
.review-title{
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color:$dark-grean;
}
.book-detail-tbl{
  margin:0 auto;
  margin-bottom: 10px;
  width: 85%;
}
.review-buttons{
  margin: 10px auto;
  width: 90%;
  text-align: center;
}
