<!--footer-->
<div class="row">
  <div class="col-lg-12 center">
    サイト概要　｜　お問い合わせ　｜　<%=image_tag 'facebook_white.png',:size => "18x18",:alt => "facebook" %>　｜　<%=image_tag 'twitter_white.png',:size => "18x18",:alt => "twitter" %>
  </div>
</div>
