<!DOCTYPE html>
<html>
  <head>
    <title>hon to</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      header
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      footer
    </footer>
  </body>
</html>
